{
  "env": {
    "browser": false,
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "settings": {
  },
  "rules": {
    "no-use-before-define": "off",
    "prefer-const": "off",
    "no-unused-vars": "off",
    "no-unused-expressions": "off",
    "no-undef": "off",
    "camelcase": "off",
    "no-debugger": "error",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-unused-expressions": "off",
    "@typescript-eslint/ban-ts-comment": "error",
    "@typescript-eslint/class-name-casing": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/ban-types": "off"
  },
  "overrides": [
    {
      "files": "*-test.*",
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "globals": {
    "fetch": false,
    "__DEV__": false,
    "ErrorUtils": false,
    "globalThis": true
  }
}
